$def with (link)

$if link:
    <h3>Seguir FollowLink</h3>

    <div id="tutorial">
      <ol>
        <li>Complet&aacute; el CAPTCHA.</li>
      </ol>
    </div>

    <form method="post" action="/$link.id">
      <fieldset id="frm_follow">
        <legend>Formulario</legend>
        <table border="1">
        <tr>
        <th>Archivo</th>
        <td>$link.file_name</td>
        </tr>
        <tr>
        <th>Tipo</th>
        <td>$link.content_type</td>
        </tr>
        <tr>
        <th>Tama&ntilde;o</th>
        <td>$link.file_size Bytes</td>
        </tr>
        </table>

        <ul>
        <li>
        <label for="id_captcha_img">CAPTCHA:</label>
        <img src="media/img.php?t=f" id="id_captcha_img" />
        </li>
        <li>
        <label for="id_captcha_follow">Repetir CAPTCHA:</label>
        <input type="text" size="6" id="id_captcha_follow" name="captcha_follow" value="" />
        </li>
        </ul>

        <input type="submit" name="continue" value="Continuar" />
        </fieldset>
    </form>

