{% extends "base.html" %}


{% block content %}
<h3>Crear FollowLink</h3>

<div id="tutorial">
  <ol>
    <li>Carg&aacute; tu enlace.</li>
    <li>Obten&eacute; una URL alternativa.</li>
    <li>Public&aacute; la URL alternativa en Blogs, Foros y donde quieras.</li>
  </ol>
</div>

<form method="post">
  <fieldset id="frm_create">
    <legend>Formulario</legend>
    <ul>
      {{ link_form.as_ul }}
    </ul>
    <input type="submit" name="save" value="Guardar" />
  </fieldset>
</form>

{% if links %}
<h3>Tus FollowLinks</h3>

  <ul>
  {foreach:links,link}
    <li><input type="text" size="50" value="{link}" /></li>
  {end}
  </ul>
{% endif %}
{% endblock %}
