<html>
  <head>
    <title>FollowLink - Tus enlaces, seguros.</title>
    <link rel="stylesheet" type="text/css" href="media/style.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1><a href="{home_url}">FollowLink</a> &gt; &gt; &gt;</h1>
        <h2>Dej&aacute; que s&oacute;lo los humanos puedan descargar tus links ;)</h2>
        <p>FollowLink permite que tus enlaces sean accesibles mediante un CAPTCHA, de modo que bots no puedan hacer hotlinks o descargas abusivas de tus contenidos ;)</p>
      </div>
      {% if messages %}
      <div id="messages">
        <ul>
        {% for message in messages %}
          <li class="{message['type']}">{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">&copy; 2010</div>
    </div>
  </body>
</html>
